/vendor
/storage/*.key
/storage/app/public
/public/storage
/public/hot
/bootstrap/cache/*.php
.phpunit.result.cache
.env
.env.*
/node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.vite
docker-compose.override.yml
.idea
.vscode
.DS_Store
Thumbs.db
/auth.json
.trash
u374940733_amisam.sql
u374940733_amisam.sql:Zone.Identifier