<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Evitar el listado de archivos y carpetas
    Options -Indexes

    # Redirigir todas las peticiones a index.php, excepto archivos o directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<FilesMatch "(\.env|\.htaccess|\.htpasswd|\.ini|\.log|\.sh|\.bak|\.sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>