body {
  overflow-x: hidden;
  background-color: #f8f9fa;
  display: flex;
}

.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebarToggle{
    z-index: 1100;
}

.sidebar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  margin-left: 260px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}

/* Ocultar sidebar en móviles */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
  }
}
