#id-container{
    color: aliceblue;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}
#card-cursos1{
    background-image: url('/amisam/public/img/card-cursos1.jpg');
    color: aliceblue;
}
#card-cursos2{
    background-image: url('/amisam/public/img/card-cursos2.jpg');
    color: aliceblue;
}
#card-cursos3{
    background-image: url('/amisam/public/img/card-cursos3.jpg');
    color: aliceblue;
}
#curso-p{
    color: aliceblue;
}
#curso-footer{
    background-color: #fff;
}