@keyframes spin-like-person {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

#rotating-logo {
  height: 70px;
  width: auto;
  animation: spin-like-person 8s linear infinite;

  transform-origin: center;
}

.scaled-image {
  height: 70px;
  width: auto;
  margin-left: 25px;
  margin-right: 50px;
  transform: scale(2.5);
  transform-origin: center;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1); 
}
