#level-container{
  padding-bottom: 25px;
  padding-top: 15px;
}
#level-title{
  color: aliceblue;
  padding-bottom: 10px;
}

#nivelBasicoHeading {
background-color: #000000; 
border-radius: 8px; 
overflow: hidden;
margin-bottom: 10px;
}

#nivelBasicoHeading .accordion-button {
color: #fff; 
background-color: transparent; 
border: none; 
font-size: 1.25rem;
font-weight: bold;
padding: 12px 20px; 
transition: all 0.3s ease;
}

#nivelBasicoHeading .accordion-button:hover {
background-color:rgb(46, 46, 46); 
color: #e9ecef; 
}


#nivelBasico {
background-color:rgb(228, 227, 227); 
border-left: 2px solid rgb(31, 32, 32); 
padding: 15px; 
border-radius: 0 8px 8px 8px; 
}


#nivelBasico .accordion-body ul {
margin: 0;
padding: 0;
list-style: none; 
}

#nivelBasico  .accordion-body ul li {
padding: 8px 0; 
font-size: 1rem; 
color: #333; 
position: relative;
padding-left: 25px; 
}

#nivelBasico  .accordion-body ul li::before {
content: "✔"; 
color:rgb(10, 10, 10);
border-radius: 8px;
position: absolute;
left: 0; 
font-size: 1rem;
}
#nivelIntermedioHeading {
background-color: #000000; 
border-radius: 8px; 
overflow: hidden;
margin-bottom: 10px;
}

#nivelIntermedioHeading .accordion-button {
color: #fff; 
background-color: transparent; 
border: none; 
font-size: 1.25rem; 
font-weight: bold; 
padding: 12px 20px; 
transition: all 0.3s ease; 
}

#nivelIntermedioHeading .accordion-button:hover {
background-color:rgb(46, 46, 46); 
color: #e9ecef; 
}


#nivelIntermedio {
background-color: #f8f9fa; 
border-left: 2px solid rgb(31, 32, 32); 
padding: 15px; 
border-radius: 0 8px 8px 8px; 
}


#nivelIntermedio .accordion-body ul {
margin: 0;
padding: 0;
list-style: none; 
}

#nivelIntermedio  .accordion-body ul li {
padding: 8px 0; 
font-size: 1rem; 
color: #333; 
position: relative;
padding-left: 25px; 
}

#nivelIntermedio  .accordion-body ul li::before {
content: "✔"; 
color:rgb(10, 10, 10); 
border-radius: 8px;
position: absolute;
left: 0; 
font-size: 1rem;
}

#nivelAvanzadoHeading {
background-color: #000000; 
border-radius: 8px; 
overflow: hidden;
margin-bottom: 10px;
}

#nivelAvanzadoHeading .accordion-button {
color: #fff; 
background-color: transparent; 
border: none; 
font-size: 1.25rem; 
font-weight: bold; 
padding: 12px 20px; 
transition: all 0.3s ease; 
}

#nivelAvanzadoHeading .accordion-button:hover {
background-color:rgb(46, 46, 46); 
color: #e9ecef; 
}


#nivelAvanzado {
background-color: #f8f9fa;
border-left: 2px solid rgb(31, 32, 32);
padding: 15px; 
border-radius: 0 8px 8px 8px; 
}


#nivelAvanzado .accordion-body ul {
margin: 0;
padding: 0;
list-style: none; 
}

#nivelAvanzado  .accordion-body ul li {
padding: 8px 0; 
font-size: 1rem; 
color: #333; 
position: relative;
padding-left: 25px; 
}

#nivelAvanzado  .accordion-body ul li::before {
content: "✔"; 
color:rgb(10, 10, 10); 
border-radius: 8px;
position: absolute;
left: 0; 
font-size: 1rem;
} 
