#container-slider {
  background: url('/amisam/public/img/video.gif') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

#carouselExampleControls {
  height: 100%;
}

.carousel-inner {
  display: flex;

  align-items: center;
  height: 100%;
}

.carousel-card {
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
}

.carousel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.carousel-card {
  object-fit: cover; 
}
.card-img-top{
  width: 100%;
  height: 200px;
}

.carousel-card .card-body {
  padding: 15px;
  text-align: center;
}

.carousel-card , #card-title {
  font-size: 1.25rem;
  
  margin-bottom: 10px;
}

.carousel-card {
  font-size: 1rem;
  margin-bottom: 15px;
}
#card-title{
  font-weight: bold;
  color:rgb(64, 58, 58);
}
#card-p{
  color:rgb(0, 0, 0);
}

.carousel-card {
  border-radius: 15px;
  font-weight: bold;
  padding: 10px 20px;
  color: black;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
}